img{
width:500px;
height:300px;}
header{text-align:center;font-size:20pt;font-family:Impact,sans-serif;}
footer{text-align:center;}
img{border:10px solid red;}
span{border:5px solid black;}
span{margin:15px 15px 15px 15px;}
body {background-color:#368;}
